<!-- ======================== Contact ======================== -->

<section id="contact-us" class="page">

    <!-- ===  Page header === -->

    <div class="page-header1" style="background-color:#eeeeee">
        <div class="container mt-4 mb-10">
            <h2 class="title text-4xl">Mega Panels</h2>
            <p>Your Ideal Construction Solution</p>
        </div>
    </div>

    <!-- ===  Contact === -->

    <div class="contact ">

        <div class="container">

            <!-- === Google map === -->

            <!--<div class="map" id="map">-->
            <!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15630.424874697352!2d78.1541795697754!3d11.651384000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf04c1784965d%3A0x693097d0db32b046!2sQueens%20Hotel%20India!5e0!3m2!1sen!2sin!4v1630718405089!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
            <!--</div>-->

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

                    <!-- === Contact block === -->

                    <div class="contact-block">

                        <!-- === Contact banner === -->

                        <div class="banner" style="background-color: #01569f;">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 text-center">
                                    <h2 class="title">Our sister company</h2>
                                    <!-- <p>
                                        Please use this form if you have any questions about our products <br /> and
                                        we'll get back with you very soon.
                                    </p> -->

                                    <div class="contact-form-wrapper">
                                        <a target="_blank" class="btn btn-clean open-form" href="https://www.brush.co.tz/en">Go Now</a>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-6 text-center mt-10">
                                    <h2 class="title">Download PDF brochure</h2>
                                    <!-- <p>
                                        Please use this form if you have any questions about our products <br /> and
                                        we'll get back with you very soon.
                                    </p> -->

                                    <div class="contact-form-wrapper">
                                        <!-- If using Antlers -->
                                        {{ livewire:p-d-f-download }}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- === Contact info === -->

                        <div class="contact-info">
                            <div class="row">
                                <div class="col-sm-4">
                                    <figure class="text-center">
                                        <span class="fa fa-map-marker text-4xl"></span>
                                        <figcaption>
                                            <strong>Mega Woodcraft Products (T) Ltd.</strong>
                                            <span>Plot No. 508, Bungoni, Ilala, <br>P.O. Box 1762, Dar es Salaam
                                            </span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-sm-4">
                                    <figure class="text-center">
                                        <span class="fa fa-phone text-4xl"></span>
                                        <figcaption>
                                            <strong>Call Us</strong>
                                            <span>
                                                <strong>Mobile :</strong> +255 785 676 207<br />
                                                <!-- <strong>Landline :</strong> +255 785 676 207 -->

                                            </span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-sm-4">
                                    <figure class="text-center">
                                        <span class="fa fa-envelope text-4xl"></span>
                                        <figcaption>
                                            <strong>Email</strong>
                                            <span>
                                                <strong></strong> mega@mega.co.tz<br />
                                                <!-- <strong></strong> www.mega.co.tz -->
                                            </span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/contact-block-->
                </div>
                <!--col-sm-8-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/contact-->
</section>



<!-- ================== Footer  ================== -->

<footer>
    <div class="container">

        <!-- footer links -->
        <!-- <div class="footer-links">
             <div class="row">
                 <div class="col-sm-6 footer-left">
                     <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a> | &nbsp; <a href="#">Guest book</a>
                 </div>
                 <div class="col-sm-6 footer-right">
                     <a href="#">Gallery</a> &nbsp; | &nbsp; <a href="#">Reservations</a> | &nbsp; <a href="#">Help center</a>
                 </div>
             </div>
         </div> -->

        <!--footer social-->

        <div class="footer-social">
            <div class="row">
                <!-- <div class="col-sm-12 text-center hidden">
                    <a href="" class="footer-logo"><img src="assets/images/footer-logo.png" alt="Alternate Text" /></a>
                </div> -->
                <div class="col-sm-12 icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 copyright">
                    <small>Copyright &copy; 2022 &nbsp; | &nbsp; Mega Panels.</small>
                </div>
                <div class="col-sm-12 flex justify-center item-center">
                    <a href=""><img src="{{ footer:footer_logo }}" width="220" height="180" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>