{{ partial:partials/inner-banner }}

<!-- ========================  Cards ======================== -->

<section class="cards">

    <!-- === cards header === -->

    <div class="section-header">
        <div class="container">
            <h2 class="title">Our Projects <a href="#" class="btn btn-sm btn-clean-dark">View all</a></h2>
            <!-- <p>Here's a selection of ionic sites related to art, fashion and design.</p> -->
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- === item === -->
            <!-- 
            <div class="col-xs-12 col-md-8">
                <figure>
                    <figcaption style="background-image:url(assets/images/activity-1.jpg)">
                        <img src="assets/images/activity-1.jpg" alt="" />
                    </figcaption>
                    <a href="#" class="btn btn-clean" onclick="">Museums</a>
                </figure>
            </div> -->

            <!-- === item === -->
            {{ related_entries }}
            <div class="col-xs-6 col-md-4">
                <figure>
                    <figcaption style="background-image:url('{{featured_image}}')">
                        <img src="{{featured_image}}" alt="" />
                    </figcaption>
                    <a href="{{ uri }}" class="btn text-white" style="background-color: #0f5b35;">{{ title }}</a>
                </figure>
            </div>
            {{ /related_entries }}

        </div>
        <!--/row-->

    </div>
    <!--/container-->
</section>